.TopCate {
  position: relative;
}
.top {
  height: 220px;
  width: 220px;
}
.TopCate img {
  width: 220px;
  height: 220px;
  border-radius: 5px;
}
.TopCate .nametop {
  position: relative;
  width: 100%;
}
.TopCate .nametop span {
  background: #0f3460;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50px;
  margin: 5px;
  position: absolute;
  top: 10px;
}
.TopCate .nametop .tleft {
  left: 0;
}
.TopCate .nametop .tright {
 
  position: absolute;
  right: 20px;
}
